# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin
__debug_bin
discount-calculator

# Test binary, build with `go test -c`
*.test

# IDEs
.idea
*.swp
*.swo
*~
.vscode
.scannerwork